---
layout: baseLayout.njk
title: RNGMatrix - Song - Generations
cssFile: "base.css"
permalink: "song/generation/index.html"
---
<section class="section medium">
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        <p>
            This is where you're going to see all the damn amount of generations you did for that particular track... As long as you documented them.
        </p>
    </main>
</section>