---
layout: baseLayout.njk
title: RNGMatrix - Song
cssFile: "base.css"
permalink: "song/index.html"
---
<section class="section medium">
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        <p>
            Here are all your songs you generated... As long as you documented them.
        </p>
        {% include "songForm.njk" %}
    </main>
</section>