<aside id="navbar-side" class="navbar-side">
    <div class="navbar-side-item-wrapper">
        <ul class="navbar-side-items">
            <li class="navbar-side-item">
                <a href="/">
                    <i class="icon icon-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="navbar-side-item">
                <a href="/song">
                    <i class="icon icon-folder"></i>
                    <span>Projects</span>
                </a>
            </li>
            <li class="navbar-side-item">
                <a>
                    <i class="icon icon-music"></i>
                    <span>Songs</span>
                </a>
            </li>
            <li class="navbar-side-item">
                <a>
                    <i class="icon icon-github"></i>
                    <span>GitHub</span>
                </a>
            </li>
        </ul>
    </div>
</aside>