<aside class="navbar-side">
    <div class="navbar-side-item-wrapper">
        <ul class="navbar-side-items">
            <li class="navbar-side-item"></li>
            <li class="navbar-side-item"></li>
            <li class="navbar-side-item"></li>
            <li class="navbar-side-item"></li>
        </ul>
    </div>
</aside>