<div class="input-wrapper url-input collapsible" tabindex="-1">
    <input type="url" class="input" name="url" placeholder="URL">
</div>
<div class="input-wrapper search-input collapsible" tabindex="-1">
    <input type="search" class="input" name="url" placeholder="Search for">
</div>