<div id="song-table" class="table">
    <div class="table-head">
        <div class="table-row">
            <div class="table-column"></div>
        </div>
    </div>
    <div class="table-body">
        {% for song in songModel | list %}
            <div class="table-row" id="table-row-{{loop.index}}">
                <div class="table-row-item">
                    <div class="song-table-list-entry">
                        <div id="{{ song.id }}" class="entry-list-item">
                            <figure>
                                <canvas data-songname="{{song.name}}"></canvas>
                            </figure>
                            <div class="entry-meta">
                                <span>{{ song.name }}</span>
                            </div>
                            {% import "songsTableActions.njk" as actions %}
                            {{ actions.events("http://localhost:3001/song/" + song.id, "", "") }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="table-footer">
        <div class="table-footer-action">
            {% import "button.njk" as footerAction %}
            {{ footerAction.settings("Add new song", "add-song", "http://localhost:3001/song/", "plus")}}
        </div>
    </div>
</div>