{% macro events(editEvent, deleteEvent, bookmarkEvent) %}
    <div class="action-bar">
        {% import "button.njk" as editButton %}
        {{ editButton.settings("Edit", "edit", editEvent + song.id, "", true, "") }}
        {% import "button.njk" as deleteButton %}
        {{ deleteButton.settings("Delete", "delete", deleteEvent + song.id, "", true, "") }}
        {% import "button.njk" as bookmarkButton %}
        {{ bookmarkButton.settings("Bookmark", "bookmark", bookmarkEvent + song.id, "heart", true, "") }}
    </div>
{% endmacro %}