{% macro shape(axis, color, size = 1) %}
    {% set direction %}
        {{ "negate" if axis == "down" or axis == "right" }}
    {% endset %}

    {% if axis == "up" or axis == "down" %}
        <i class="icon icon-triangle-up {{direction}} {{color}}" style="padding: calc({{size}}rem / 2)"></i>  
    {% else %}
        <i class="icon icon-triangle-left {{direction}} {{color}}" style="padding: calc({{size}}rem / 2)"></i>
    {% endif %}
{% endmacro %}
