{% set layout = "baseLayout.njk" %}
{% set title = "RNGMatrix" %}
{% set cssFile = "base.css" %}
{% set permalink = "index.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        {% block css %}
            {% include "css.njk" %}
        {% endblock %}  
    </head>
    <body>
        {% block main %}
            {% include "navbar_top.njk" %}
            {% block content %}
                <section class="section medium">
                    <header>
                        <h1>{{ title }}</h1>
                    </header>
                    <main>
                        <p>
                            Welcome to the {{title}} web application.<br>
                            It is used to store any settings for your udio songs.<br>
                            With the saved settings, you can always go back to udio and re-create or re-imagine the songs you liked the most.
                        </p>
                        <div class="arrow-animated" tabindex="-1"></div>
                        {% import "triangle.njk" as triangleUp %}
                        {{ triangleUp.shape("up", "red")}}

                        {% import "triangle.njk" as triangleLeft %}
                        {{ triangleLeft.shape("left", "green")}}

                        {% import "triangle.njk" as triangleDown %}
                        {{ triangleDown.shape("down", "blue")}}

                        {% import "triangle.njk" as triangleRight %}
                        {{ triangleRight.shape("right", "orange")}}

                        {% import "button.njk" as lockButton %}
                        {{ lockButton.settings("Update", "update", "", "lock-animated custom open", true, "") }}
                        
                        {% import "versus.njk" as versus %}
                        {{ versus.versus("", "") }}

                        <p>
                            {% set songs = songModel %}
                            {% include "songsTable.njk" %}
                        </p>
                    </main>
                </section>
            {% endblock content %}
            {% include "footer.njk" %}
        {% endblock %}
        {% include "scripts.njk" %}
    </body>
</html>