{% macro settings(text="Button", class="", onClick="#", prefixIcon="", isLink=true, suffixIcon="") %}
    <div class="input-wrapper button-input">
        {% if isLink %}
            <a class="button button-{{class}}" href="{{ onClick }}">
                {% if prefixIcon | length %}
                    <i class="icon icon-{{prefixIcon}}"></i>
                {% endif %}
                {{text}}
                {% if suffixIcon | length %}
                    <i class="icon icon-{{suffixIcon}}"></i>
                {% endif %}
            </a>
        {% else %}
            <button type="button" class="button button-{{class}}" onClick="{{ onClick }}">
                {% if prefixIcon | length %}
                    <i class="icon icon-{{prefixIcon}}"></i>
                {% endif %}
                {{text}}
                {% if suffixIcon | length %}
                    <i class="icon icon-{{suffixIcon}}"></i>
                {% endif %}
            </button>
        {% endif %}
    </div>
{% endmacro %}