{% macro shape(axis, color, size = 1) %}
    {% set direction %}
        {{ "negate" if axis == "down" or axis == "right" }}
    {% endset %}

    {% if axis == "up" or axis == "down" %}
        <i class="icon custom icon-triangle-up {{direction}} {{color}}" style="width: {{size}}rem"></i>  
    {% else %}
        <i class="icon custom icon-triangle-left {{direction}} {{color}}" style="width: {{size}}rem"></i>
    {% endif %}
{% endmacro %}
