.table {
    display: flex;
    flex-direction: column;

    & > .table-head {
        & .table-column {
            font-weight: bold;
        }
    }

    & > .table-body {
        display: flex;
        flex-direction: column;
    }

    & > .table-body, & > .table-head {
        & .table-row {
            display: grid;
            grid-template-columns: 5rem 1fr 1fr;
            grid-template-areas: ". a a";

            &:nth-child(2n+1 of .table-row) {
                background-color: var(--table-row-even-background);
            }

            &:nth-child(2n of .table-row) {
                background-color: var(--table-row-odd-background);
            }

            & .table-row-item, & .table-column {
                grid-area: a;
            }
        }
    }

    & > .table-footer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        border-top: 2px solid rgba(255, 255, 255, 0.35);

        & > .table-footer-action {
            grid-column: span 12;
            padding: var(--padding-med) var(--padding-large);
            background-color: rgba(0, 0, 255, 0.075);

            & .input-wrapper {
                background-color: transparent;
                border: 2px solid rgba(175, 175, 255, 0.75);

                & .button {
                    color: rgb(155, 155, 255);
                    padding: var(--padding-med);
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}

#song-table {
    & .entry-list-item {
        display: grid;
        grid-template-columns: var(--song-entry-canvas-height) 2fr 5fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: flex-start;

        & figure {
            height: 0;
            padding-block-end: 100%;

            & canvas {
                width: 100%;
                height: var(--song-entry-canvas-height);
            }
        }

        & .entry-meta {
            padding-inline: 1rem;
        }
    }
}

.action-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: calc(100% - (var(--padding-large) * 4));
    padding-inline: var(--padding-large);
}

.versus-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;

    & .versus-left {
        clip-path: var(--versus-left-side);
    }

    & .versus-right {
        clip-path: var(--versus-right-side);
    }

    > div:focus {
        position: absolute;
        width: 100%;
        height: auto;
        clip-path: var(--versus-revealed);
    }
}