input {
    padding: var(--padding-min);
    border: 1px solid var(--input-border-color);
}

form {
    display: flex;
    flex-direction: column;

    & .input-wrapper:not(.submit-input) {
        display: grid;
        grid-template-columns: 10rem 1fr;
        border: none;
        max-width: 100%;
        
        & label {
            & + :is(input[type="text"], textarea) {
                width: 100%;
            }

            & + input[type="checkbox"] {
                justify-self: flex-start;
            }
        }
    }
}

.input-wrapper {
    --font-size: 16px;
    position: relative;
    display: inline-flex;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    margin-block: var(--padding-min);
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    width: 100%;
    max-width: max-content;
    transition: ease-in-out 0.5s;

    &:not(:focus-within).collapsible {
        min-width: min-content;
        width: 0;

        & > input:placeholder-shown {
            display: none;
            width: 0;
        }
    }
}

.url-input:has(> input[type="url"]) {
    & > input {
        border: none;
        border-radius: 4px;

        &:focus {
            outline: none;
        }
    }

    &::before {
        content: 'https://';
        display: inline-block;
        padding: var(--padding-med);
        font-size: var(--font-size);
        background-color: #fefefe;
        color: #cecece;
        transition: 0.125s;
    }

    &:hover,
    &:focus-within {
        &::before {
            background-color: var(--accent-color);
            color: white;
        }
    }
}

.search-input:has(> input[type="search"]) {
    & > input {
        border: none;
        border-radius: 4px;

        &:focus {
            outline: none;
        }
    }

    &::before {
        content: "\e986";
        font-family: var(--icomoon-font);
        display: inline-block;
        padding: var(--padding-med);
        font-size: var(--font-size);
        background-color: #fefefe;
        color: #cecece;
        transition: 0.125s;
    }

    &:hover,
    &:focus-within {
        &::before {
            background-color: var(--accent-color);
            color: white;
        }
    }
}

.submit-input:has(> input[type="submit"]) {
    border: none;
    background-color: var(--accent-color);
    border: var(--primary-foreground);
    color: var(--primary-foreground);
    padding: var(--padding-min) var(--padding-med);
    transition: all .2s ease;

    &:hover {
        background-color: var(--accent-color-hover);
    }

    &:hover, &:hover > * {
        cursor: pointer;
    }

    & input {
        background-color: transparent;
        color: var(--primary-foreground);
        border: none;
    }
}

.button-input:has(> .button) {
    border: none;
    background-color: var(--accent-color);
    border: var(--primary-foreground);
    color: var(--primary-foreground);
    padding: var(--padding-min) var(--padding-med);
    border-radius: 4px;
    transition: all .2s ease;
    width: fit-content;

    &:has(> .button-edit) {
        background-color: var(--edit-color);

        &:hover {
            background-color: var(--edit-color-hover);
        }
    }

    &:has(> .button-delete) {
        background-color: var(--delete-color);

        &:hover {
            background-color: var(--delete-color-hover);
        }
    }

    &:has(> .button-bookmark) {
        background-color: var(--bookmark-color);

        &:hover {
            background-color: var(--bookmark-color-hover);
        }
    }

    &:hover {
        background-color: var(--accent-color-hover);
    }

    &:hover, &:hover > * {
        cursor: pointer;
    }

    & .button {
        color: var(--primary-foreground);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1ch;

        & > i.custom {
            transform: scale(1rem);
        }
    }

    & button {
        all: unset;
    }
}