:root {
    /* Triangles */
    --triangle-up-shape: polygon(50% 0, 100% 100%, 0 100%);
    --triangle-up-ratio: 1/cos(30deg);
    --triangle-left-shape: polygon(100% 0, 100% 100%, 0 50%);
    --triangle-left-ratio: 1/2;

    /* Lock */
    --lock-open-shape: path("m28.3837 11.8937-3.8637-1.0353m0 0 .7765-2.8978a6 6 105 10-11.5911-3.1058l1.9319.5176-1.9319-.5176 0 0 1.9319.5176 0 0 7.7274 2.0706-.7765 2.8978-9.6593-2.5882 0 0-3.8637-1.0353a2 2 105 00-2.4495 1.4142l-3.6235 13.523a2 2 105 001.4142 2.4495l19.3185 5.1764a2 2 105 002.4495-1.4142l3.6235-13.523a2 2 105 00-1.4142-2.4495m-12.3769 7.554a1.5 1.5 105 11.7765-2.8978 1.5 1.5 105 01-.7765 2.8978m-.3696-14.0753a4 4 105 117.7274 2.0706z");
    --lock-closed-shape: path("m26 10-4 0m0 0 0-3a6 6 90 10-12 0l2 0-2 0 0 3 2 0 0-3 8 0 0 3-10 0 0 0-4 0a2 2 90 00-2 2l0 14a2 2 90 002 2l20 0a2 2 90 002-2l0-14a2 2 90 00-2-2m-10 10.5a1.5 1.5 90 110-3 1.5 1.5 90 010 3m-4-13.5a4 4 90 118 0z");
    --lock-ratio: 1;

    /* Versus */
    --versus-left-side: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    --versus-right-side: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    --versus-revealed: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}