:root {
    /* Colors */
    --accent-color: #6466FE;
    --accent-color-hover: #4e51eb;
    --gray-medium: #0F0F0F;
    --primary: #000;
    --primary-foreground: #FFF;
    --secondary: #FFF;
    --secondary-foreground: #000;
    --shadow-color: rgba(0,0,0,0.25);
    --input-border-color: rgba(150, 150, 150, 0.5);

    --table-row-even-background: rgba(255,255,255,0.09125);
    --table-row-odd-background: inherit;

    --navigation-background: #2A2A2A;

    /* Paddings */
    --padding-min: 6px;
    --padding-med: 12px;
    --padding-large: 16px;
    --padding-xlarge: 24px;
    --padding-xxlarge: 32px;

    /* Font-Sizes */
    --font-size-xsmall: 82.5%;
    --font-size-small: 75%;
    --font-size-medium: 16px;
    --font-size-large: 150%;
    --font-size-xlarge: 200%;
    --font-size-xxlarge: 250%;
    --font-size-xxxlarge: 300%;

    /* Icomoon */
    --icomoon-font: 'icomoon';

    /* List-entry */
    --song-entry-canvas-height: 128px;
}